body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
    display: flex;
}

/* Center content */
#content {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Titles */
h1, h2 {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

/* Main container */
.saveDisplay {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

/* Stats */
.statbox {
    border: 2px solid white;
    padding: 15px;
    background: #050505;
}

/* Inventory */
.inventory {
    border: 2px solid white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Section headers */
.inventoryHead,
.itemHead,
.weaponHead,
.armorHead,
.keyHead{
    grid-column: span 2;
    text-align: center;
    border-bottom: 2px solid white;
    padding: 5px;
}

/* Character sections */
.krisHead,
.susieHead,
.ralseiHead {
    border: 2px solid white;
    text-align: center;
    font-weight: bold;
}

/* Slots */

/*Party Members*/
.krisSlot1, .krisSlot2, .krisSlot3,
.susieSlot1, .susieSlot2, .susieSlot3,
.ralseiSlot1, .ralseiSlot2, .ralseiSlot3,

/*Items*/
.itemSlot1, .itemSlot2, .itemSlot3, .itemSlot4,
.itemSlot5, .itemSlot6, .itemSlot7, .itemSlot8,
.itemSlot9, .itemSlot10, .itemSlot11, .itemSlot12,

/*Weapons*/
.weaponSlot1, .weaponSlot2, .weaponSlot3, .weaponSlot4,
.weaponSlot5, .weaponSlot6, .weaponSlot7, .weaponSlot8,
.weaponSlot9, .weaponSlot10, .weaponSlot11, .weaponSlot12,

/*Armour*/
.armorSlot1, .armorSlot2, .armorSlot3, .armorSlot4,
.armorSlot5, .armorSlot6, .armorSlot7, .armorSlot8,
.armorSlot9, .armorSlot10, .armorSlot11, .armorSlot12,

/*Key Items*/
.keySlot1, .keySlot2, .keySlot3, .keySlot4,
.keySlot5, .keySlot6, .keySlot7, .keySlot8,
.keySlot9, .keySlot10, .keySlot11, .keySlot12{
border: 1px solid white;
padding: 8px;
text-align: center;
}

/* Remove ALL colors */
.krisHead, .krisSlot1, .krisSlot2, .krisSlot3,
.susieHead, .susieSlot1, .susieSlot2, .susieSlot3,
.ralseiHead, .ralseiSlot1, .ralseiSlot2, .ralseiSlot3 {
    background: #0a0a0a;
}

/* Items layout fix */
.itemSlot1, .itemSlot3, .itemSlot5, .itemSlot7, .itemSlot9, .itemSlot11 {
    border-right: none;
}

/* Inputs */
input, button {
    background: black;
    color: white;
    border: 2px solid white;
    padding: 6px;
}

    button:hover {
        background: white;
        color: black;
        cursor: pointer;
    }

.side {
    position: fixed;
    top: 0;
    width: 200px;
    height: 100vh;
    overflow: hidden;
}

    /* Left side */
    .side.left {
        left: 0;
    }

    /* Right side */
    .side.right {
        right: 0;
    }

    .side img {
        width: 100%;
        height: 100vh;
        display: block;
       
    }

    .side.left, .side.right {
        width: 15%; /* each side takes half the screen */
        float: left; /* sit side by side */
    }