@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deltarune Save Reader</title>
    <link rel="stylesheet" href="~/css/dRuneTrackerStylesheet.css">

</head>
<body>
    <div id="content">
        <div id="inputBox">
            <h1 id="h1-title">Save Completion Tracker</h1>
            <h2 id="h2-subtitle">For Deltarune</h2>

            <p class="smalltext"><!-- write banner of hrefs here: steam guide, github --></p>

            <div class="tooltips">
            <!-- pasteable path for "noob users." -->
                <input id="save-location-input" value="%LOCALAPPDATA%\DELTARUNE" readonly="readonly">

                <span class="tooltips-text" id="save-location-input-tooltips">
                    <br> <!-- Add JS on-hover for tooltips-text class -->
                    "Click once to copy to clipboard" <!-- Add JS on-click handler here, onclick copy to clipboard and change message to "Copied to clipboard"-->
                </span>
            </div>

            <p class="smalltext">
                Choose
                <strong>filech1_#</strong>
                then drag and drop, or select directly in the box below.
            </p>

            <p class="smalltext">
                The number on the save file is which slot the file is saved in, 0 being slot 1, 1 being 2, and 2 being 3.
            </p>

            <p class="smalltext">Don't use filech1_3, 1_4, 1_6 or 1_9. 3, 4, and 5 are completion data and 9 is last autosave.</p>

            <p></p> <!--Empty paragraph for spacing.-->

            <div id="save-file-input">

                <!-- Add save file selection here eg. ("Drag and drop or select save file (use botton for select)" in a box.) -->
                <input id="saveInput" type="file" accept="file/*" value="">

                <!-- Informs user if file selected is a Deltarune Chapter 1 Save file (just checks filename) -->
                <p id="saveConfirmer">No file input yet.</p>

                <!-- Button to confirm file (I attempted to make a localStorage value that holds the filepath, but apparently input type: file values use a fakepath to keep user filepaths private.) -->
                <button id="confirmButton">Confirm!</button>
            </div>

        
            <h2 id="h2-game-status">Game completion status:</h2> <!--  Add % variable through JS here (float) -->
        </div>

            <!--JS displays data here-->
            <!--More Random Fun save facts here:-->
        <div class="saveDisplay">
                <div class="statBox"> <!--Save File Stats-->
                    <h4> Stats & Save Information</h4>
                   
                    <p id="timeText">Time Played: ?</p>


                    <p id="fileName">Name: ?</p>
                    

                    <div id="playerStats">
                        <p id="playerLevel">?</p>
                        <p id="playerMoney">?</p>
                        <p id="playerXp">?</p>
                    </div>


                    <p id="currentRoom">Current Room: ?</p>

                </div>
                
                    @* =================== Inventory Here =================== *@
                <div class="inventory"> <!--Save Inventory-->
                    <div class="inventoryHead"> <h4>Inventory</h4> </div>
                    
                    @* =================== Kris Stats Here =================== *@
                    <div class="krisHead"> <h5>Kris</h5> </div>

                    <div class="krisSlot1" id="krisSlot1"> <p>Kris' Weapon</p> </div>
                    <div class="krisSlot2" id="krisSlot2"> <p>Kris' Armor 1</p> </div>
                    <div class="krisSlot3" id="krisSlot3"> <p>Kris' Armor 2</p> </div>

                    
                    @* =================== Susie Stats Here =================== *@
                    <div class="susieHead"> <h5>Susie</h5> </div>

                    <div class="susieSlot1" id="susieSlot1"> <p>Susie's Weapon</p> </div>
                    <div class="susieSlot2" id="susieSlot2"> <p>Susie's Armour 1</p> </div>
                    <div class="susieSlot3" id="susieSlot3"> <p>Susie's Armour 2</p> </div>

                    @* =================== Ralsei Stats Here =================== *@
                    <div class="ralseiHead"> <h5>Ralsei</h5> </div>

                    <div class="ralseiSlot1" id="ralseiSlot1"> <p>Ralsei's Weapon</p> </div>
                    <div class="ralseiSlot2" id="ralseiSlot2"> <p>Ralsei's Armour 1</p> </div>
                    <div class="ralseiSlot3" id="ralseiSlot3"> <p>Ralsei's Armour 2</p> </div>

                    
                    @* =================== Items Here =================== *@
                    <div class="itemHead"> <h5>Items</h5> </div>
                   
                    <div class="itemSlot1" id="itemSlot1"> <p>Item</p> </div>
                    <div class="itemSlot2" id="itemSlot2"> <p>Item</p> </div>
                    <div class="itemSlot3" id="itemSlot3"> <p>Item</p> </div>
                    <div class="itemSlot4" id="itemSlot4"> <p>Item</p> </div>
                    <div class="itemSlot5" id="itemSlot5"> <p>Item</p> </div>
                    <div class="itemSlot6" id="itemSlot6"> <p>Item</p> </div>
                    <div class="itemSlot7" id="itemSlot7"> <p>Item</p> </div>
                    <div class="itemSlot8" id="itemSlot8"> <p>Item</p> </div>
                    <div class="itemSlot9" id="itemSlot9"> <p>Item</p> </div>
                    <div class="itemSlot10" id="itemSlot10"> <p>Item</p> </div>
                    <div class="itemSlot11" id="itemSlot11"> <p>Item</p> </div>
                    <div class="itemSlot12" id="itemSlot12"> <p>Item</p> </div>

                        
                    @* =================== Weapons Here =================== *@
                    <div class="weaponHead">Weapons</div>

                    <div class="weaponSlot1" id="weaponSlot1"> <p>Weapon</p> </div>
                    <div class="weaponSlot2" id="weaponSlot2"> <p>Weapon</p> </div>
                    <div class="weaponSlot3" id="weaponSlot3"> <p>Weapon</p> </div>
                    <div class="weaponSlot4" id="weaponSlot4"> <p>Weapon</p> </div>
                    <div class="weaponSlot5" id="weaponSlot5"> <p>Weapon</p> </div>
                    <div class="weaponSlot6" id="weaponSlot6"> <p>Weapon</p> </div>
                    <div class="weaponSlot7" id="weaponSlot7"> <p>Weapon</p> </div>
                    <div class="weaponSlot8" id="weaponSlot8"> <p>Weapon</p> </div>
                    <div class="weaponSlot9" id="weaponSlot9"> <p>Weapon</p> </div>
                    <div class="weaponSlot10" id="weaponSlot10"> <p>Weapon</p> </div>
                    <div class="weaponSlot11" id="weaponSlot11"> <p>Weapon</p> </div>
                    <div class="weaponSlot12" id="weaponSlot12"> <p>Weapon</p> </div>
                    
                    @* =================== Armour Here =================== *@
                    <div class="armorHead">Armour</div>

                    <div class="armorSlot1" id="armorSlot1"> <p>Armour</p> </div>
                    <div class="armorSlot2" id="armorSlot2"> <p>Armour</p> </div>
                    <div class="armorSlot3" id="armorSlot3"> <p>Armour</p> </div>
                    <div class="armorSlot4" id="armorSlot4"> <p>Armour</p> </div>
                    <div class="armorSlot5" id="armorSlot5"> <p>Armour</p> </div>
                    <div class="armorSlot6" id="armorSlot6"> <p>Armour</p> </div>
                    <div class="armorSlot7" id="armorSlot7"> <p>Armour</p> </div>
                    <div class="armorSlot8" id="armorSlot8"> <p>Armour</p> </div>
                    <div class="armorSlot9" id="armorSlot9"> <p>Armour</p> </div>
                    <div class="armorSlot10" id="armorSlot10"> <p>Armour</p> </div>
                    <div class="armorSlot11" id="armorSlot11"> <p>Armour</p> </div>
                    <div class="armorSlot12" id="armorSlot12"> <p>Armour</p> </div>
                    
                    @* =================== Key Items Here =================== *@
                    <div class="keyHead">Key Items</div>

                    <div class="keySlot1" id="keySlot1"> <p>Key</p> </div>
                    <div class="keySlot2" id="keySlot2"> <p>Key</p> </div>
                    <div class="keySlot3" id="keySlot3"> <p>Key</p> </div>
                    <div class="keySlot4" id="keySlot4"> <p>Key</p> </div>
                    <div class="keySlot5" id="keySlot5"> <p>Key</p> </div>
                    <div class="keySlot6" id="keySlot6"> <p>Key</p> </div>
                    <div class="keySlot7" id="keySlot7"> <p>Key</p> </div>
                    <div class="keySlot8" id="keySlot8"> <p>Key</p> </div>
                    <div class="keySlot9" id="keySlot9"> <p>Key</p> </div>
                    <div class="keySlot10" id="keySlot10"> <p>Key</p> </div>
                    <div class="keySlot11" id="keySlot11"> <p>Key</p> </div>
                    <div class="keySlot12" id="keySlot12"> <p>Key</p> </div>


                </div>

                <div class="milestones">
                    <h4>Major Milestones</h4>
                    <p id="tutDisplay"></p>
                </div>

                <div class="secrets">
                    <h4>Secrets</h4>
                    <p id="starwalker">???</p>
                    <p id="returnCake">???</p>
                    <p id="mysteryEgg">???</p>
                    <p id="secretBoss">???</p>
                </div>
            </div>
        </div>
    

    <script type="module"> 
        
        //import dataNames.js PATH = '/wwwroot/js/dataNames.js
        import * as dataNames from '../js/dataNames.js'   

        const docIdGet = document.getElementById;
        const input = document.getElementById('saveInput');
        const inButton = document.getElementById("confirmButton");

        inButton.addEventListener("click", readFile);

        function readFile()
        {
            const saveFile = document.getElementById("saveInput").files[0];
            const saveReader = new FileReader();

            // =================== Start of Save Parsing ===================
            // =============================================================

                saveReader.addEventListener("load", () => {

                // assigning array indexes to variables
                const saveArray = saveReader.result.split("\n");
                let time = parseInt(saveArray[10317]) / 30;
                time = Math.floor(time);
                const sec = time - 14400 - 780;
                let min = time - 14400 - 35;
                min = min/60;
                let hour = time - 780 - 35;
                hour = hour / 60 / 60; // used let instead of var as it's more efficient


                const money = parseInt(saveArray[10]);
                const xp = parseInt(saveArray[11]);
                const lv = parseInt(saveArray[12]);


                // =================== Current Room ===================
                
                // initialize room name to "?" as a default, used if no room name is found
                let currentRoom = "?"
                    // loop through each room in roomsCh1 object
                    for (let room of dataNames.roomsCh1)
                    {   // trying room value minus 10001, since line 10317 says '10407' and the lowest num room in dataNames.js is 416
                        if (room.value === parseInt(saveArray[10316]) - 10001)
                        {
                            currentRoom = room.text;
                        }
                        console.log(currentRoom)

                    }     
                    
                // =================== End of Current Room ===================








                // =================== Progress & Bosses Beaten ===================

                    
                    
                    
                    // Main Story Progress / Bosses Beaten !!

                let tutorial = parseInt(saveArray[522]);
                let tutText = "test";
                  
                if (tutorial == 1)
                { // Tutorial Complete (Could not find check for beating Lancer 1)
                    tutText = "Tutorial: Complete ";


                    let boss1 = parseInt(saveArray[530]);
                    if (boss1 != 0)
                    {
                        tutText += "  K. Round: Beaten ";
                        let boss2 = parseInt(saveArray[550]);
                        if (boss2 == 1)
                        {
                            tutText += "Clover: Beaten \r\n";

                            let boss3 = parseInt(saveArray[545]);
                            
                            if (boss3 != 0)
                            {
                                tutText += "Susie & Lancer: Beaten \r\n";

                                let boss4 = parseInt(saveArray[556]);
                                if (boss4 == 1)
                                {
                                    tutText += "K. Round 2: Beaten \r\n";

                                    let boss5 = parseInt(saveArray[345]);
                                    if (boss5 == 1)
                                    {
                                        tutText += "King: Defeated!"
                                    }
                                    else { tutText += "Final Boss: Incomplete"; }
                                }
                                else { tutText += "Boss 4: Incomplete"; }
                            }

                            else
                            {
                                tutText += "Boss 3: Incomplete ";
                            }
                        }
                        else
                        {
                            tutText += "Boss 2: Incomplete ";
                        }
                    }
                    else
                    {
                        tutText += "Boss 1: Incomplete ";
                    }
                }
                else if (tutorial == 0)
                {
                    tutText = "Tutorial: Incomplete ";
                }
                
                //Secrets
                let starTalk = parseInt(saveArray[570]);
                let starTalker = "Secret 1: in the star bird room, after ringing the bell, go back.";
                if (starTalk == 1)
                {
                    starTalker = "Starwalker Found!";
                }
                else if (starTalk == 0)
                {
                    starTalker = "Secret 1: in the star bird room, after ringing the bell, go back.";
                }

                //Cake Secret
                let cake = parseInt(saveArray[569]);
                let cakeText = "Secret 2: Don't eat the cake! Instead, fix it, then return it to who made it.";
                if (cake == 1)
                {
                    cakeText = "Returned the cake to the Top Chef!";
                }
                else if (cake == 0)
                {
                    cakeText = "Secret 2: Don't eat the cake! Instead, fix it, then return it to who made it.";
                }

                //Egg Secret
                let egg = parseInt(saveArray[1226]);
                let eggText = "???";
                if (egg == 2)
                {
                    eggText = "Egg: Collected!";
                }
                else if (egg == 0)
                {
                    eggText = "Secret 3: Walk back and forth between the bird room and spinning diamond room."
                }

                // Jevil
                let boss6 = parseInt(saveArray[557]);
                let bossText = "???"
                if (boss6 == 6)
                {
                    bossText = "Jevil: Beaten!";
                }
                else if (boss6 == 7)
                {
                    bossText = "Jevil: Spared!";
                }
                else
                {
                    bossText = "Secret 4: Find the three broken key pieces, fix them, then go to the castle basement."
                }

                // =================== End of Progress & Bosses Beaten ===================
                    console.log("=================")
                // =================== Displaying Invetory Items ===================
                    console.log("Inventory Items")
                    
                    // =================== Key Items =================== 
                    // Find Key Item #1
                    console.log("Key Items 1-12")
                    let keyItem1 = "?"
                    for (let keyItem of dataNames.key_itemsCh1){
                        if (keyItem.value === parseInt(saveArray[236]))
                        {
                            keyItem1 = keyItem.text;
                        }
                    }
                    console.log("1: " + keyItem1)
                    
                    // Find Key Item #2



                    let keyItem2 = "?"
                    for (let keyItem of dataNames.key_itemsCh1){
                        if (keyItem.value === parseInt(saveArray[240]))
                        {
                            keyItem2 = keyItem.text;
                        }
                    }
                    console.log("2: " + keyItem2);

                    // Find Key Item #3
                    let keyItem3 = "?"
                    for (let keyItem of dataNames.key_itemsCh1){
                        if (keyItem.value === parseInt(saveArray[244]))
                        {
                            keyItem3 = keyItem.text;
                        }
                    }
                    console.log("3: " + keyItem3);

                    // Find Key Item #4
                    let keyItem4 = "?"
                    for (let keyItem of dataNames.key_itemsCh1){
                        if (keyItem.value === parseInt(saveArray[248]))
                        {
                            keyItem4 = keyItem.text;
                        }
                    }
                    console.log("4: " + keyItem4);


                    // Find Key Item #5
                    let keyItem5 = "?"
                    for (let keyItem of dataNames.key_itemsCh1){
                        if (keyItem.value === parseInt(saveArray[252]))
                        {
                            keyItem5 = keyItem.text;
                        }
                    }
                    console.log("5: " + keyItem5);


                    // Find Key Item #6
                    let keyItem6 = "?"
                    for (let keyItem of dataNames.key_itemsCh1){
                        if (keyItem.value === parseInt(saveArray[256]))
                        {
                            keyItem6 = keyItem.text;
                        }
                    }
                    console.log("6: " + keyItem6);

                    
                    // Find Key Item #7
                    let keyItem7 = "?"
                    for (let keyItem of dataNames.key_itemsCh1){
                        if (keyItem.value === parseInt(saveArray[260]))
                        {
                            keyItem7 = keyItem.text;
                        }
                    }
                    console.log("7: " + keyItem7);

                                // Find Key Item #8
                    let keyItem8 = "?"
                    for (let keyItem of dataNames.key_itemsCh1){
                        if (keyItem.value === parseInt(saveArray[264]))
                        {
                            keyItem8 = keyItem.text;
                        }
                    }
                    console.log("8: " + keyItem8);

                                // Find Key Item #9
                    let keyItem9 = "?"
                    for (let keyItem of dataNames.key_itemsCh1){
                        if (keyItem.value === parseInt(saveArray[268]))
                        {
                            keyItem9 = keyItem.text;
                        }
                    }
                    console.log("9: " + keyItem9);

                                // Find Key Item #10
                    let keyItem10 = "?"
                    for (let keyItem of dataNames.key_itemsCh1){
                        if (keyItem.value === parseInt(saveArray[272]))
                        {
                            keyItem10 = keyItem.text;
                        }
                    }
                    console.log("10: " + keyItem10);

                                // Find Key Item #11
                    let keyItem11 = "?"
                    for (let keyItem of dataNames.key_itemsCh1){
                        if (keyItem.value === parseInt(saveArray[276]))
                        {
                            keyItem11 = keyItem.text;
                        }
                    }
                    console.log("11: " + keyItem11);

                                // Find Key Item #12
                    let keyItem12 = "?"
                    for (let keyItem of dataNames.key_itemsCh1){
                        if (keyItem.value === parseInt(saveArray[280]))
                        {
                            keyItem12 = keyItem.text;
                        }
                    }
                    console.log("12: " + keyItem12);

                    // =================== End of Key Items =================== 

                    console.log("=================")
                    
                    // =================== Weapons =================== 
                    console.log("Weapons 1-12")
					let weapon1 = "?"
					for (let weapon of dataNames.weaponsCh1){
						if (weapon.value === parseInt(saveArray[237]))
						{
							weapon1 = weapon.text;
						}
					}
					console.log("1: " + weapon1);

					let weapon2 = "?"
					for (let weapon of dataNames.weaponsCh1){
						if (weapon.value === parseInt(saveArray[241]))
						{
							weapon2 = weapon.text;
						}
					}
					console.log("2: " + weapon2);

					let weapon3 = "?"
					for (let weapon of dataNames.weaponsCh1){
						if (weapon.value === parseInt(saveArray[245]))
						{
							weapon3 = weapon.text;
						}
					}
					console.log("3: " + weapon3);

					let weapon4 = "?"
					for (let weapon of dataNames.weaponsCh1){
						if (weapon.value === parseInt(saveArray[249]))
						{
							weapon4 = weapon.text;
						}
					}
					console.log("4: " + weapon4);

					let weapon5 = "?"
					for (let weapon of dataNames.weaponsCh1){
						if (weapon.value === parseInt(saveArray[253]))
						{
							weapon5 = weapon.text;
						}
					}
					console.log("5: " + weapon5);

					let weapon6 = "?"
					for (let weapon of dataNames.weaponsCh1){
						if (weapon.value === parseInt(saveArray[257]))
						{
							weapon6 = weapon.text;
						}
					}
					console.log("6: " + weapon6);

					let weapon7 = "?"
					for (let weapon of dataNames.weaponsCh1){
						if (weapon.value === parseInt(saveArray[261]))
						{
							weapon7 = weapon.text;
						}
					}
					console.log("7: " + weapon7);

					let weapon8 = "?"
					for (let weapon of dataNames.weaponsCh1){
						if (weapon.value === parseInt(saveArray[265]))
						{
							weapon8 = weapon.text;
						}
					}
					console.log("8: " + weapon8);

					let weapon9 = "?"
					for (let weapon of dataNames.weaponsCh1){
						if (weapon.value === parseInt(saveArray[269]))
						{
							weapon9 = weapon.text;
						}
					}
					console.log("9: " + weapon9);

					let weapon10 = "?"
					for (let weapon of dataNames.weaponsCh1){
						if (weapon.value === parseInt(saveArray[273]))
						{
							weapon10 = weapon.text;
						}
					}
					console.log("10: " + weapon10);

					let weapon11 = "?"
					for (let weapon of dataNames.weaponsCh1){
						if (weapon.value === parseInt(saveArray[277]))
						{
							weapon11 = weapon.text;
						}
					}
					console.log("11: " + weapon11);

					let weapon12 = "?"
					for (let weapon of dataNames.weaponsCh1){
						if (weapon.value === parseInt(saveArray[281]))
						{
							weapon12 = weapon.text;
						}
					}
					console.log("12: " + weapon12);

                    // =================== End of Weapons =================== 
                    console.log("=================")
                    // =================== Armour =================== 
                    console.log("Armours 1-12")
                    let armour1 = "?"
					for (let armour of dataNames.armorCh1){
						if (armour.value === parseInt(saveArray[238]))
						{
							armour1 = armour.text;
						}
					}
					console.log("1: " + armour1);

                                        let armour2 = "?"
					for (let armour of dataNames.armorCh1){
						if (armour.value === parseInt(saveArray[242]))
						{
							armour2 = armour.text;
						}
					}
					console.log("2: " + armour2);

                                        
                                        let armour3 = "?"
					for (let armour of dataNames.armorCh1){
						if (armour.value === parseInt(saveArray[246]))
						{
							armour3 = armour.text;
						}
					}
					console.log("3: " + armour3);

                    
                                        let armour4 = "?"
					for (let armour of dataNames.armorCh1){
						if (armour.value === parseInt(saveArray[250]))
						{
							armour4 = armour.text;
						}
					}
					console.log("4: " + armour4);

                    
                                        let armour5 = "?"
					for (let armour of dataNames.armorCh1){
						if (armour.value === parseInt(saveArray[254]))
						{
							armour5 = armour.text;
						}
					}
					console.log("5: " + armour5);

                    
                                        let armour6 = "?"
					for (let armour of dataNames.armorCh1){
						if (armour.value === parseInt(saveArray[258]))
						{
							armour6 = armour.text;
						}
					}
					console.log("6: " + armour6);

                    
                                        let armour7 = "?"
					for (let armour of dataNames.armorCh1){
						if (armour.value === parseInt(saveArray[262]))
						{
							armour7 = armour.text;
						}
					}
					console.log("7: " + armour7);

                    
                                        let armour8 = "?"
					for (let armour of dataNames.armorCh1){
						if (armour.value === parseInt(saveArray[266]))
						{
							armour8 = armour.text;
						}
					}
					console.log("8: " + armour8);

                    
                                        let armour9 = "?"
					for (let armour of dataNames.armorCh1){
						if (armour.value === parseInt(saveArray[270]))
						{
							armour9 = armour.text;
						}
					}
					console.log("9: " + armour9);

                    
                                        let armour10 = "?"
					for (let armour of dataNames.armorCh1){
						if (armour.value === parseInt(saveArray[274]))
						{
							armour10 = armour.text;
						}
					}
					console.log("10: " + armour10);

                    
                                        let armour11 = "?"
					for (let armour of dataNames.armorCh1){
						if (armour.value === parseInt(saveArray[278]))
						{
							armour11 = armour.text;
						}
					}
					console.log("11: " + armour11);

                    
                                        let armour12 = "?"
					for (let armour of dataNames.armorCh1){
						if (armour.value === parseInt(saveArray[282]))
						{
							armour12 = armour.text;
						}
					}
					console.log("12: " + armour12);

                 // =================== End of Armour ===================
                    console.log("===================")
                // =================== Items ===================
                    console.log("Items 1-12")
                    let item1 = "?"
					for (let item of dataNames.itemsCh1){
						if (item.value === parseInt(saveArray[238]))
						{
							item1 = item.text;
						}
					}
					console.log("1: " + item1);

                                        let item2 = "?"
					for (let item of dataNames.itemsCh1){
						if (item.value === parseInt(saveArray[242]))
						{
							item2 = item.text;
						}
					}
					console.log("2: " + item2);

                                        
                                        let item3 = "?"
					for (let item of dataNames.itemsCh1){
						if (item.value === parseInt(saveArray[246]))
						{
							item3 = item.text;
						}
					}
					console.log("3: " + item3);

                    
                                        let item4 = "?"
					for (let item of dataNames.itemsCh1){
						if (item.value === parseInt(saveArray[250]))
						{
							item4 = item.text;
						}
					}
					console.log("4: " + item4);

                    
                                        let item5 = "?"
					for (let item of dataNames.itemsCh1){
						if (item.value === parseInt(saveArray[254]))
						{
							item5 = item.text;
						}
					}
					console.log("5: " + item5);

                    
                                        let item6 = "?"
					for (let item of dataNames.itemsCh1){
						if (item.value === parseInt(saveArray[258]))
						{
							item6 = item.text;
						}
					}
					console.log("6: " + item6);

                    
                                        let item7 = "?"
					for (let item of dataNames.itemsCh1){
						if (item.value === parseInt(saveArray[262]))
						{
							item7 = item.text;
						}
					}
					console.log("7: " + item7);

                    
                                        let item8 = "?"
					for (let item of dataNames.itemsCh1){
						if (item.value === parseInt(saveArray[266]))
						{
							item8 = item.text;
						}
					}
					console.log("8: " + item8);

                    
                                        let item9 = "?"
					for (let item of dataNames.itemsCh1){
						if (item.value === parseInt(saveArray[270]))
						{
							item9 = item.text;
						}
					}
					console.log("9: " + item9);

                    
                                        let item10 = "?"
					for (let item of dataNames.itemsCh1){
						if (item.value === parseInt(saveArray[274]))
						{
							item10 = item.text;
						}
					}
					console.log("10: " + item10);

                    
                                        let item11 = "?"
					for (let item of dataNames.itemsCh1){
						if (item.value === parseInt(saveArray[278]))
						{
							item11 = item.text;
						}
					}
					console.log("11: " + item11);

                    
                                        let item12 = "?"
					for (let item of dataNames.itemsCh1){
						if (item.value === parseInt(saveArray[282]))
						{
							item12 = item.text;
						}
					}
					console.log("12: " + item12);
                // =================== End Displaying Invetory Items ===================
                    console.log("=================")
                // =================== Displaying Kris Stats ===================
                    console.log("Kris Stats");
                    // Displaying Kris Weapon
                           let krisWeapon = "?";
                           for (let weapon of dataNames.weaponsCh1)
                           {
                               if (weapon.value === parseInt(saveArray[76]))
                               {
                                   krisWeapon = weapon.text;
                               }
                           }

                           console.log(krisWeapon);

                           
                   // Displaying Kris Armour 1
                           let krisArmor1 = "?";
                           for (let armor of dataNames.armorCh1)
                           {
                               if (armor.value === parseInt(saveArray[77]))
                               {
                                   krisArmor1 = armor.text;
                               }
                           }

                           console.log(krisArmor1);

                    // Displaying Kris Armour 2

                           let krisArmor2 = "?";
                           for (let armor of dataNames.armorCh1)
                           {
                               if (armor.value === parseInt(saveArray[78]))
                               {
                                   krisArmor2 = armor.text;
                               }
                           }

                           console.log(krisArmor2);

                // =================== End of Displaying Kris Stats ===================
                    console.log("=================")
                // =================== Displaying Susie Stats ===================
                    console.log("Susie Stats");
                    // Displaying Susie Weapon
                               let susieWeapon = "?";
                               for (let weapon of dataNames.weaponsCh1)
                               {
                                   if (weapon.value === parseInt(saveArray[130]))
                                   {
                                       susieWeapon = weapon.text;
                                   }
                               }

                               console.log(susieWeapon);
                           
                       // Displaying susie Armour 1
                               let susieArmor1 = "?";
                               for (let armor of dataNames.armorCh1)
                               {
                                   if (armor.value === parseInt(saveArray[131]))
                                   {
                                       susieArmor1 = armor.text;
                                   }
                               }

                               console.log(susieArmor1);

                        // Displaying susie Armour 2

                               let susieArmor2 = "?";
                               for (let armor of dataNames.armorCh1)
                               {
                                   if (armor.value === parseInt(saveArray[132]))
                                   {
                                       susieArmor2 = armor.text;
                                   }
                               }

                               console.log(susieArmor2);

                // =================== End of Displaying Susie Stats ===================
                console.log("=================")
                // =================== Displaying Ralsei Stats ===================
                 
                    // Displaying Ralsei Weapon
                                console.log("Ralsei Stats");
                               let ralseiWeapon = "?";
                               for (let weapon of dataNames.weaponsCh1)
                               {
                                   if (weapon.value === parseInt(saveArray[184]))
                                   {
                                       ralseiWeapon = weapon.text;
                                   }
                               }

                               console.log(ralseiWeapon);
                           
                       // Displaying Ralsei Armour 1
                               let ralseiArmor1 = "?";
                               for (let armor of dataNames.armorCh1)
                               {
                                   if (armor.value === parseInt(saveArray[185]))
                                   {
                                       ralseiArmor1 = armor.text;
                                   }
                               }

                               console.log(ralseiArmor1);

                        // Displaying Ralsei Armour 2

                               let ralseiArmor2 = "?";
                               for (let armor of dataNames.armorCh1)
                               {
                                   if (armor.value === parseInt(saveArray[186]))
                                   {
                                       ralseiArmor2 = armor.text;
                                   }
                               }

                               console.log(ralseiArmor2);

                               
                // ===================End of Displaying Ralsei Stats ===================
                console.log("=================")
                // =================== End of Save Parsing ===================
                // =============================================================



                // ===================  Writing Parsed Stats to the Document ===================
                    
                    // Stats & General Info
                    document.getElementById("fileName").innerText = "Name: " + saveArray[0];
                    document.getElementById("timeText").innerText = "Time Played: " +hour+":"+min+":"+sec;
                    document.getElementById("playerLevel").innerText = "Level: " + lv;
                    document.getElementById("playerMoney").innerText = "Money: " + money;
                    document.getElementById("playerXp").innerText = "XP: " + xp;
                    document.getElementById("currentRoom").innerText = "Current Room: " + currentRoom;

                    // Kris' Gear
                    document.getElementById("krisSlot1").innerText = "Kris' Weapon - " + krisWeapon;
                    document.getElementById("krisSlot2").innerText = "Kris' Armor 1 - " + krisArmor1;
                    document.getElementById("krisSlot3").innerText = "Kris' Armor 2 - " + krisArmor2;

                    // Susie' Gear
                    document.getElementById("susieSlot1").innerText = "Susie' Weapon - " + susieWeapon;
                    document.getElementById("susieSlot2").innerText = "Susie' Armor 1 - " + susieArmor1;
                    document.getElementById("susieSlot3").innerText = "Susie' Armor 2 - " + susieArmor2;

                    // Ralsei' Gear
                    document.getElementById("ralseiSlot1").innerText = "Ralsei' Weapon - " + ralseiWeapon;
                    document.getElementById("ralseiSlot2").innerText = "Ralsei' Armor 1 - " + ralseiArmor1;
                    document.getElementById("ralseiSlot3").innerText = "Ralsei' Armor 2 - " + ralseiArmor2;

                    // Inventory
                        // Key Items (Inventory)
                        document.getElementById("keySlot1").innerText = "Key Item #1 - " + keyItem1;
                        document.getElementById("keySlot2").innerText = "Key Item #2 - " + keyItem2;
                        document.getElementById("keySlot3").innerText = "Key Item #3 - " + keyItem3;
                        document.getElementById("keySlot4").innerText = "Key Item #4 - " + keyItem4;
                        document.getElementById("keySlot5").innerText = "Key Item #5 - " + keyItem5;
                        document.getElementById("keySlot6").innerText = "Key Item #6 - " + keyItem6;
                        document.getElementById("keySlot7").innerText = "Key Item #7 - " + keyItem7;
                        document.getElementById("keySlot8").innerText = "Key Item #8 - " + keyItem8;
                        document.getElementById("keySlot9").innerText = "Key Item #9 - " + keyItem9;
                        document.getElementById("keySlot10").innerText = "Key Item #10 - " + keyItem10;
                        document.getElementById("keySlot11").innerText = "Key Item #11 - " + keyItem11;
                        document.getElementById("keySlot12").innerText = "Key Item #12 - " + keyItem12;

                        // Weapons (Inventory)
                        document.getElementById("weaponSlot1").innerText = "Weapon #1 - " + weapon1;
                        document.getElementById("weaponSlot2").innerText = "Weapon #2 - " + weapon2;
                        document.getElementById("weaponSlot3").innerText = "Weapon #3 - " + weapon3;
                        document.getElementById("weaponSlot4").innerText = "Weapon #4 - " + weapon4;
                        document.getElementById("weaponSlot5").innerText = "Weapon #5 - " + weapon5;
                        document.getElementById("weaponSlot6").innerText = "Weapon #6 - " + weapon6;
                        document.getElementById("weaponSlot7").innerText = "Weapon #7 - " + weapon7;
                        document.getElementById("weaponSlot8").innerText = "Weapon #8 - " + weapon8;
                        document.getElementById("weaponSlot9").innerText = "Weapon #9 - " + weapon9;
                        document.getElementById("weaponSlot10").innerText = "Weapon #10 - " + weapon10;
                        document.getElementById("weaponSlot11").innerText = "Weapon #11 - " + weapon11;
                        document.getElementById("weaponSlot12").innerText = "Weapon #12 - " + weapon12;


                        // Armour (Inventory)
                        document.getElementById("armorSlot1").innerText = "Armour #1 - " + armour1;
                        document.getElementById("armorSlot2").innerText = "Armour #2 - " + armour2;
                        document.getElementById("armorSlot3").innerText = "Armour #3 - " + armour3;
                        document.getElementById("armorSlot4").innerText = "Armour #4 - " + armour4;
                        document.getElementById("armorSlot5").innerText = "Armour #5 - " + armour5;
                        document.getElementById("armorSlot6").innerText = "Armour #6 - " + armour6;
                        document.getElementById("armorSlot7").innerText = "Armour #7 - " + armour7;
                        document.getElementById("armorSlot8").innerText = "Armour #8 - " + armour8;
                        document.getElementById("armorSlot9").innerText = "Armour #9 - " + armour9;
                        document.getElementById("armorSlot10").innerText = "Armour #10 - " + armour10;
                        document.getElementById("armorSlot11").innerText = "Armour #11 - " + armour11;
                        document.getElementById("armorSlot12").innerText = "Armour #12 - " + armour12;

                        // Items (Inventory)
                        document.getElementById("itemSlot1").innerText = "Item #1 - " + item1;
                        document.getElementById("itemSlot2").innerText = "Item #2 - " + item2;
                        document.getElementById("itemSlot3").innerText = "Item #3 - " + item3;
                        document.getElementById("itemSlot4").innerText = "Item #4 - " + item4;
                        document.getElementById("itemSlot5").innerText = "Item #5 - " + item5;
                        document.getElementById("itemSlot6").innerText = "Item #6 - " + item6;
                        document.getElementById("itemSlot7").innerText = "Item #7 - " + item7;
                        document.getElementById("itemSlot8").innerText = "Item #8 - " + item8;
                        document.getElementById("itemSlot9").innerText = "Item #9 - " + item9;
                        document.getElementById("itemSlot10").innerText = "Item #10 - " + item10;
                        document.getElementById("itemSlot11").innerText = "Item #11 - " + item11;
                        document.getElementById("itemSlot12").innerText = "Item #12 - " + item12;




                    // Milestones
                    document.getElementById("tutDisplay").innerText = tutText;

                    // Secrets
                    document.getElementById("starwalker").innerText = starTalker;
                    document.getElementById("returnCake").innerText = cakeText;
                    document.getElementById("mysteryEgg").innerText = eggText;
                    document.getElementById("secretBoss").innerText = bossText;
            });

           
            
            
            
            // =================== Final Save File Validation ===================
            
            
            if (saveFile.name.startsWith("filech1_") == true)
            {
                document.getElementById("saveConfirmer").innerText = "Valid save file!";

                //document.getElementById("testP").innerText = saveReader.result;
                saveReader.readAsText(saveFile);

            }
            else if (saveFile.name.startsWith("filech2_") == true || saveFile.name.startsWith("filech3_") == true || saveFile.name.startsWith("filech4_") == true)
            { // Unsupported Chapter - Only Chapter 1 Supported Currently
                document.getElementById("saveConfirmer").innerText = "No late chapter support.";
            }
            else
            { // Not Save File Type
                document.getElementById("saveConfirmer").innerText = "Not a deltarune savefile";
            }
        }

    </script>
</body>
</html>

